* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Exo 2", sans-serif;
  background-color: #fbf8ee;
  margin: 20px 40px;
}

h1 {
  font-size: 30px;
  text-align: center;
}

p {
  font-size: 16px;
  line-height: 1.5;
  color: #444;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
  padding: 0 30px;
}

header img {
  background: none;
  height: 90px;
}
header a {
  color: #444;

  text-decoration: none;
  cursor: pointer;
}
.header__logo-email {
  display: flex;
  align-items: center;
  gap: 30px;
}
.header__email {
  display: flex;
  align-items: center;
  gap: 5px;
}
.header__project-resume {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-right: 40px;
}

/* CONTAINERS */
.container {
  display: flex;
  justify-content: space-between;
  gap: 70px;
}

/* CONTAINER LEFT */
.container__left {
  width: 5%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.social__icons nav {
  display: flex;
  gap: 30px;
}

.icons-color,
.icons-color-github {
  font-size: 24px; /* Taille fixe */
}
.icons-color {
  color: #0b65c2;
}
.icons-color-github {
  color: black;
}

/* CONTAINER MIDDLE */
/* .container__middle {
} */
.home {
  margin-bottom: 40px;
}
.home__presentation-firstname {
  font-size: 150px;
  font-weight: bold;
}
.home__presentation-lastname {
  font-size: 100px;
  font-weight: bold;
}

.about-me {
  margin: 20px 0px;
}
.about-me__title {
  font-size: 40px;
  margin: 10px 0px;
}
.about-me__text--first {
  padding: 10px 0px;
  margin-bottom: 45px;
}
.about-me__text--second {
  padding: 20px 0px;
}
.about-me__skills--title {
  margin-bottom: 20px;
}
.about-me__skills h2 {
  font-weight: 300;
  font-size: 30px;
  margin-bottom: 30px;
}
.about-me__skills {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}
.about-me__skills img {
  font-weight: 300;
  width: 55px;
  margin-bottom: 30px;
}
.about-me__skills h2::first-letter {
  font-weight: bold;
  margin-right: 2px;
}
.about-me__skills--frontend {
  margin-bottom: 20px;
}
.about-me__skills--backend {
  margin-bottom: 20px;
}
.about-me__skills--other {
  margin-bottom: 20px;
}

/* li:first-child {
  font-size: 25px;
} */
li:last-child {
  /* font-style: italic; */
  margin-bottom: 0;
}
/* li:nth-child(2) {
  color: rgba(186, 13, 13, 0.579);
} */

/* CONTAINER RIGHT */
.container__right {
  width: 60%;
  border-radius: 12px; /* Coins arrondis */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08); /* Ombre douce */
  padding: 10px 10px;
}

img {
  border: 5px solid #f7f7f7;
  border-radius: 50%;
  width: 100px;
  height: auto;
}

/* styling links */
a:link {
  text-decoration: none;
}
/* a:visited {
  color: blue;
} */
/* a:hover {
  font-weight: bold;
} */

.projects__list {
  list-style-type: none;
  margin-top: 30px;
}
.projects__title {
  font-size: 40px;
}
.projects__list--elements {
  font-weight: bold;
}
.projects {
  margin: 30px 0px;
}
.projects__list--text {
  font-weight: bold;
}

/* FOOTER */
footer {
  background-color: #1a1919;
  padding: 10px 20px;
}
footer p {
  font-size: 14px;
  color: #fbf8ee;
}

h1::first-letter {
  font-weight: bold;
  margin-right: 5px;
}
h2::first-letter {
  font-weight: bold;
}
.home-content {
  position: relative;
}
/* .home__presentation-paragraph::after {
  content: "WOW";
  background-color: #ffe70e;
  font-weight: bold;
  font-size: 10px;
  display: inline-block;
  padding: 2px 10px;
  position: absolute;
  top: -10px;
  right: 10px;
} */
